@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
.hamburger {
  width: 30px;
  height: 24.5px;
  position: relative;
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: block;
  z-index: 99999;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-wrapper {
  display: inline-block;
  cursor: pointer;
}

.hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -1.5px;
  left: 4px;
}

.hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 19.5px;
  left: 4px;
}

.mobile-menu {
  margin-top: 0;
  background: #664837;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
  z-index: 110;
  flex-direction: column;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}
.mobile-menu a {
  color: #fff;
}
.mobile-menu.active {
  transition: 0.3s ease;
  opacity: 1;
  pointer-events: all;
  padding-top: 150px;
  font-weight: 900;
  font-size: 25px;
  line-height: 50px;
}
@media only screen and (max-width: 991px) {
  .mobile-menu.active {
    line-height: 20px;
    text-align: center;
  }
}
.mobile-menu .nav {
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .mobile-menu .nav {
    padding: 0;
    margin-top: 60px;
  }
}
.mobile-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.mobile-menu .menu a {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
}
@media only screen and (max-width: 575px) {
  .mobile-menu .menu a {
    font-size: 20px;
  }
}
.mobile-menu .menu a:hover {
  color: #E1E1E1;
  transition: 0.2s ease;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin: 0;
}
body.disabled {
  overflow: hidden;
}

a {
  display: inline-block;
  color: inherit;
  font-weight: 400;
}

a, a:hover, a:focus, a:visited, a:focus-within {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin-top: 0;
}

p {
  line-height: 150%;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-top: 85px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}
@media only screen and (max-width: 1299px) {
  header {
    padding-top: 40px;
  }
}
header.header-secondary {
  background-image: url("../images/header/header-secondary.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 75px;
  position: relative;
  margin-bottom: 90px;
}
@media only screen and (max-width: 1299px) {
  header.header-secondary {
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  header.header-secondary {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
header .item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media only screen and (max-width: 1499px) {
  header .item-wrap .logo-wrap img {
    width: 400px;
  }
}
@media only screen and (max-width: 1299px) {
  header .item-wrap .logo-wrap img {
    width: 300px;
  }
}
@media only screen and (max-width: 1199px) {
  header .item-wrap .logo-wrap img {
    width: 250px;
  }
}
@media only screen and (max-width: 575px) {
  header .item-wrap .logo-wrap img {
    width: 150px;
  }
}
header .item-wrap .menu-wrap {
  display: flex;
  gap: 70px;
}
@media only screen and (max-width: 1499px) {
  header .item-wrap .menu-wrap {
    gap: 40px;
  }
}
@media only screen and (max-width: 1199px) {
  header .item-wrap .menu-wrap {
    gap: 20px;
  }
}
header .item-wrap .menu-wrap .menu {
  display: flex;
  gap: 20px;
  align-items: end;
}
@media only screen and (max-width: 1499px) {
  header .item-wrap .menu-wrap .menu {
    gap: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  header .item-wrap .menu-wrap .menu {
    gap: 10px;
  }
}
@media only screen and (max-width: 991px) {
  header .item-wrap .menu-wrap .menu {
    display: none;
  }
}
header .item-wrap .menu-wrap .menu a {
  font-size: 22px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, font-weight 0.2s ease;
}
@media only screen and (max-width: 1199px) {
  header .item-wrap .menu-wrap .menu a {
    font-size: 20px;
  }
}
header .item-wrap .menu-wrap .menu a:hover {
  font-weight: 700;
  transition: 0.2s ease;
  border-bottom-color: #C8652F;
}
header .item-wrap .menu-wrap .menu a.active {
  font-weight: 700;
  border-bottom-color: #C8652F;
}
header .item-wrap .menu-wrap .language {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  header .item-wrap .menu-wrap .language {
    display: none;
  }
}
header .item-wrap .menu-wrap .language a {
  font-size: 20px;
  border: 6px solid #000;
  padding: 2px 1px;
}

.nav-toggler {
  border-radius: 100%;
  align-items: center;
  display: none;
  justify-content: flex-end;
  margin-left: 50px;
}
@media only screen and (max-width: 991px) {
  .nav-toggler {
    margin-left: 20px;
    padding: 0;
    display: flex;
  }
}

section.hero {
  background-image: url("../images/index/penzion.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 1085px;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  section.hero.detail {
    min-height: 0;
    max-height: 600px;
  }
}
section.hero.alpacas {
  background-image: url("../images/alpacas/alpacas-hero.jpg");
  margin-bottom: 100px;
}
@media only screen and (max-width: 991px) {
  section.hero.alpacas {
    margin-bottom: 40px;
    min-height: 0;
    max-height: 700px;
  }
}
@media only screen and (max-width: 1299px) {
  section.hero {
    min-height: 850px;
  }
}
@media only screen and (max-width: 991px) {
  section.hero {
    min-height: 500px;
  }
}
section.hero .bg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
section.hero .bg.left {
  background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 1%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
}
@media only screen and (max-width: 1299px) {
  section.hero .bg.left {
    width: 100%;
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 1%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 110%);
  }
}
@media only screen and (max-width: 991px) {
  section.hero .bg.left {
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 1%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0) 170%);
  }
}
section.hero .bg.top {
  background: linear-gradient(180deg, #FFFAF3 0%, rgba(255, 250, 243, 0.8) 20%, rgba(255, 250, 243, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 450px;
}
section.hero img {
  width: 100%;
  height: 1085px;
  object-fit: cover;
}
section.hero .hero-content {
  position: relative;
  z-index: 8;
  pointer-events: none;
  top: 290px;
  max-width: 630px;
}
@media only screen and (max-width: 1299px) {
  section.hero .hero-content {
    top: 200px;
  }
}
@media only screen and (max-width: 991px) {
  section.hero .hero-content {
    top: 170px;
  }
}
@media only screen and (max-width: 575px) {
  section.hero .hero-content {
    top: 120px;
  }
}
section.hero .hero-content h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1699px) {
  section.hero .hero-content h1 {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1299px) {
  section.hero .hero-content h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 991px) {
  section.hero .hero-content h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  section.hero .hero-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}
section.hero .hero-content p {
  font-size: 25px;
  margin-bottom: 55px;
}
@media only screen and (max-width: 991px) {
  section.hero .hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
section.hero .hero-content .btn {
  display: flex;
  justify-content: start;
}
section.hero .hero-content .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.hero .hero-content .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  section.hero .hero-content .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}
section.hero .hero-content ul {
  list-style-type: none;
  padding-left: 0;
}
section.hero .hero-content ul li {
  font-size: 35px;
  line-height: 70px;
}
@media only screen and (max-width: 991px) {
  section.hero .hero-content ul li {
    font-size: 20px;
    line-height: 40px;
  }
}

section.menu-boxes .box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px;
  margin-bottom: 100px;
  margin-top: 60px;
  justify-content: center;
}
@media only screen and (max-width: 1499px) {
  section.menu-boxes .box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1199px) {
  section.menu-boxes .box {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  section.menu-boxes .box {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 440px) {
  section.menu-boxes .box {
    grid-template-columns: minmax(1px, 1fr);
  }
}
section.menu-boxes .box .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
section.menu-boxes .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  width: 100%;
  height: 200px;
}
section.menu-boxes .box .icon img {
  display: block;
  max-height: 100px;
  width: auto;
}
section.menu-boxes .box h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  section.menu-boxes .box h6 {
    font-size: 18px;
  }
}

.line {
  height: 1px;
  background-color: #9A9A9A;
  width: 100%;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1299px) {
  .line {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .line {
    margin-bottom: 30px;
  }
}

.index-image {
  width: 100%;
  height: 100%;
}
.index-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-section .box {
  display: grid;
  grid-template-columns: 67fr 93fr;
  gap: 55px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1599px) {
  .left-section .box {
    gap: 30px;
  }
}
@media only screen and (max-width: 1299px) {
  .left-section .box {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .left-section .box {
    grid-template-columns: minmax(1px, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .left-section .box .index-image {
    order: 2;
    display: flex;
    justify-content: center;
  }
}
.left-section .box .heading {
  padding-right: 100px;
}
@media only screen and (max-width: 1599px) {
  .left-section .box .heading {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .left-section .box .heading {
    order: 1;
    padding-right: 0;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.heading h2 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 0;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1499px) {
  .heading h2 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1299px) {
  .heading h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .heading h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  .heading h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.heading h4 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1499px) {
  .heading h4 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .heading h4 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  .heading h4 {
    font-size: 30px;
  }
}
.heading h4 span {
  display: block;
}
@media only screen and (max-width: 1499px) {
  .heading h4 span {
    display: initial;
  }
}
@media only screen and (max-width: 1599px) {
  .heading br {
    display: none;
  }
}
.heading p {
  font-size: 25px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  .heading p {
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
  }
}
.heading p span {
  font-weight: 700;
}
.heading .btn {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 1399px) {
  .heading .btn {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .heading .btn {
    justify-content: center;
    margin-top: 15px;
  }
}
.heading .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
.heading .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  .heading .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}

.right-section .box {
  display: grid;
  grid-template-columns: 76fr 67fr;
  gap: 155px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1599px) {
  .right-section .box {
    gap: 50px;
  }
}
@media only screen and (max-width: 1299px) {
  .right-section .box {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .right-section .box {
    grid-template-columns: minmax(1px, 1fr);
    margin-bottom: 30px;
    gap: 0;
  }
}
.right-section .box .heading {
  order: 0;
}
@media only screen and (max-width: 1199px) {
  .right-section .box .heading {
    margin-bottom: 30px;
  }
}
.right-section .box .index-image {
  order: 1;
}
.right-section .box .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.right-section .box .text-wrap h5 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .right-section .box .text-wrap h5 {
    text-align: center;
    font-size: 22px;
  }
}

section.grunik {
  margin-top: 200px;
}

section.apartments {
  padding-bottom: 205px;
}
@media only screen and (max-width: 1199px) {
  section.apartments {
    padding-bottom: 50px;
  }
}
section.apartments .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media only screen and (max-width: 1499px) {
  section.apartments .box {
    gap: 30px;
  }
}
@media only screen and (max-width: 1199px) {
  section.apartments .box {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }
}
@media only screen and (max-width: 767px) {
  section.apartments .box {
    grid-template-columns: minmax(1px, 1fr);
  }
}
@media only screen and (max-width: 1199px) {
  section.apartments .box .item:nth-of-type(3) {
    grid-column: 1/span 2;
    justify-self: center;
    width: fit-content;
  }
}
@media only screen and (max-width: 767px) {
  section.apartments .box .item:nth-of-type(3) {
    grid-column: initial;
  }
}
section.apartments .box .hotel {
  width: auto;
  height: 506px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  section.apartments .box .hotel {
    margin-bottom: 20px;
  }
}
section.apartments .box .hotel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
section.apartments .box h3 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 1499px) {
  section.apartments .box h3 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  section.apartments .box h3 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  section.apartments .box h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
section.apartments .box ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  section.apartments .box ul {
    margin-bottom: 15px;
  }
}
section.apartments .box ul li {
  font-size: 25px;
  line-height: 40px;
}
@media only screen and (max-width: 1199px) {
  section.apartments .box ul li {
    text-align: center;
    font-size: 22px;
  }
}
@media only screen and (max-width: 991px) {
  section.apartments .box ul li {
    font-size: 18px;
    line-height: 25px;
  }
}
section.apartments .box .btn {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 1199px) {
  section.apartments .box .btn {
    justify-content: center;
  }
}
section.apartments .box .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.apartments .box .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  section.apartments .box .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}

section.gallery .container {
  position: relative;
}
section.gallery .image-slider {
  width: 100%;
  overflow: hidden;
}
section.gallery .image-slider .img-wrap {
  width: 506px;
  height: 506px;
}
section.gallery .image-slider .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.gallery .slick-track {
  display: flex;
}
section.gallery .slick-list {
  margin: 0 -20px;
}
section.gallery .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 20px;
}
section.gallery .slick-prev, section.gallery .slick-next {
  z-index: 10;
}
section.gallery .slick-dotted.slick-slider {
  margin-bottom: 130px;
}
@media only screen and (max-width: 1299px) {
  section.gallery .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
}
section.gallery .shadow {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 30%;
}
section.gallery .shadow.left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
  left: 15px;
}
section.gallery .shadow.right {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
  right: 15px;
  left: auto;
}
section.gallery .slider-arrow {
  position: absolute;
  top: 230px;
  z-index: 9;
}
section.gallery .slider-arrow.arrow-left {
  left: 40px;
}
section.gallery .slider-arrow.arrow-right {
  right: 40px;
  left: auto;
}
section.gallery .slider-arrow img {
  display: block;
  cursor: pointer;
}

section.map {
  position: relative;
  height: 520px;
}
@media only screen and (max-width: 991px) {
  section.map {
    height: 350px;
  }
}
section.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
section.map .container, section.map .row {
  height: 100%;
}

footer {
  background-color: #3F80A9;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  margin-bottom: 150px;
}
@media only screen and (max-width: 991px) {
  footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
}
footer .bg-img {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
  opacity: 0.2;
  mix-blend-mode: multiply;
}
@media only screen and (max-width: 991px) {
  footer .bg-img {
    display: none;
  }
}
footer .title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 55px;
}
@media only screen and (max-width: 991px) {
  footer .title {
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1399px) {
  footer .title .logo-wrap {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1399px) and (max-width: 1399px) {
  footer .title .logo-wrap img {
    width: 350px;
  }
}
@media only screen and (max-width: 1399px) and (max-width: 991px) {
  footer .title .logo-wrap img {
    width: 250px;
  }
}
@media only screen and (max-width: 991px) {
  footer .title .logo-wrap {
    order: 1;
  }
}
footer .title h3 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
}
@media only screen and (max-width: 1399px) {
  footer .title h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  footer .title h3 {
    order: 2;
    font-size: 25px;
    text-align: center;
  }
}
footer .title h3 span {
  font-size: 70px;
  font-weight: 700;
  display: block;
}
@media only screen and (max-width: 1399px) {
  footer .title h3 span {
    font-size: 45px;
  }
}
@media only screen and (max-width: 991px) {
  footer .title h3 span {
    font-size: 30px;
  }
}
footer .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 330px;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1699px) {
  footer .box {
    gap: 150px;
  }
}
@media only screen and (max-width: 1399px) {
  footer .box {
    gap: 0;
  }
}
@media only screen and (max-width: 991px) {
  footer .box {
    grid-template-columns: minmax(1px, 1fr);
    margin-bottom: 30px;
  }
}
footer .box .item:nth-of-type(1) {
  z-index: 9;
}
footer .box .item:nth-of-type(2) {
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media only screen and (max-width: 991px) {
  footer .box .item:nth-of-type(2) {
    margin-top: 25px;
  }
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
footer .input-wrap {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  footer .input-wrap {
    margin-bottom: 0;
  }
}
footer .input-wrap:nth-of-type(3) {
  margin-bottom: 0;
}
footer label {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: block;
}
footer input, footer textarea {
  border: none;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 100%;
  box-sizing: border-box;
}
footer input:focus, footer textarea:focus {
  outline: none;
}
footer input:not([type=submit]),
footer textarea {
  background-color: #fff;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  padding: 8px 20px;
  line-height: 150%;
  height: 60px;
}
@media only screen and (max-width: 991px) {
  footer input:not([type=submit]),
  footer textarea {
    height: 40px;
  }
}
footer textarea {
  height: 275px;
  resize: none;
}
@media only screen and (max-width: 991px) {
  footer textarea {
    height: 170px;
  }
}
footer p {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: end;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  footer p {
    text-align: center;
    margin-bottom: 10px;
  }
}
footer p.mail {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 95px;
}
@media only screen and (max-width: 1399px) {
  footer p.mail {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  footer p.mail {
    font-size: 25px;
  }
}
@media only screen and (max-width: 440px) {
  footer p.mail {
    font-size: 20px;
  }
}
footer p span {
  font-weight: 700;
}
footer .btn {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 991px) {
  footer .btn {
    justify-content: center;
  }
}
footer .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
footer .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  footer .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}
footer .socials {
  display: flex;
  justify-content: end;
  gap: 25px;
}
@media only screen and (max-width: 991px) {
  footer .socials {
    justify-content: center;
  }
}

section.reservation {
  padding-top: 90px;
  padding-bottom: 130px;
}
@media only screen and (max-width: 1299px) {
  section.reservation {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
section.reservation .box {
  display: grid;
  grid-template-columns: 86fr 67fr;
  gap: 60px;
}
@media only screen and (max-width: 1299px) {
  section.reservation .box {
    gap: 30px;
  }
}
@media only screen and (max-width: 991px) {
  section.reservation .box {
    grid-template-columns: minmax(1px, 1fr);
  }
}
section.reservation .box h5 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}
section.reservation .box p {
  font-size: 25px;
  max-width: 760px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  section.reservation .box p {
    max-width: 100%;
  }
}
section.reservation .box .price {
  display: flex;
  flex-direction: column;
  border: 10px solid #C8652F;
  padding: 20px 30px;
}
@media only screen and (max-width: 991px) {
  section.reservation .box .price {
    padding: 15px;
  }
}
section.reservation .box .price span {
  color: #C8652F;
  font-weight: 700;
  font-size: 50px;
}
section.reservation .box .price small {
  font-size: 25px;
  color: #000;
  margin-bottom: 25px;
}
section.reservation .box .price .btn {
  display: flex;
  justify-content: start;
}
section.reservation .box .price .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.reservation .box .price .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  section.reservation .box .price .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}

section.hotel-images {
  padding-bottom: 130px;
}
@media only screen and (max-width: 1299px) {
  section.hotel-images {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  section.hotel-images {
    padding-bottom: 30px;
  }
}
section.hotel-images .imagesBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  grid-template-areas: "a b c" "d b e" "f f g";
}
@media only screen and (max-width: 1499px) {
  section.hotel-images .imagesBox {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
  section.hotel-images .imagesBox {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "d b" "f f" "c e" "g g";
  }
}
@media only screen and (max-width: 767px) {
  section.hotel-images .imagesBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
section.hotel-images .imagesBox .img {
  width: 100%;
  overflow: hidden;
}
section.hotel-images .imagesBox .img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.hotel-images .imagesBox .img.img1, section.hotel-images .imagesBox .img.img3, section.hotel-images .imagesBox .img.img4, section.hotel-images .imagesBox .img.img5, section.hotel-images .imagesBox .img.img7 {
  height: 506px;
}
section.hotel-images .imagesBox .img.img2 {
  height: 100%;
}
section.hotel-images .imagesBox .img.img6 {
  height: 506px;
}
section.hotel-images .imagesBox .img.img1 {
  grid-area: a;
}
section.hotel-images .imagesBox .img.img2 {
  grid-area: b;
}
section.hotel-images .imagesBox .img.img3 {
  grid-area: c;
}
section.hotel-images .imagesBox .img.img4 {
  grid-area: d;
}
section.hotel-images .imagesBox .img.img5 {
  grid-area: e;
}
section.hotel-images .imagesBox .img.img6 {
  grid-area: f;
}
section.hotel-images .imagesBox .img.img7 {
  grid-area: g;
}
@media only screen and (max-width: 575px) {
  section.hotel-images .imagesBox .img.img1,
  section.hotel-images .imagesBox .img.img2,
  section.hotel-images .imagesBox .img.img3,
  section.hotel-images .imagesBox .img.img4,
  section.hotel-images .imagesBox .img.img5,
  section.hotel-images .imagesBox .img.img6,
  section.hotel-images .imagesBox .img.img7 {
    height: 100%;
    width: 100%;
  }
}

section.price-list {
  padding-bottom: 100px;
}
@media only screen and (max-width: 1299px) {
  section.price-list {
    padding-bottom: 40px;
  }
}
section.price-list h4 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1499px) {
  section.price-list h4 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  section.price-list h4 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  section.price-list h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  section.price-list h4 {
    margin-bottom: 20px;
  }
}
section.price-list .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media only screen and (max-width: 991px) {
  section.price-list .box {
    grid-template-columns: minmax(1px, 1fr);
    gap: 20px;
  }
}
section.price-list .box .item:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 1299px) {
  section.price-list .box .item:nth-of-type(1) {
    gap: 20px;
  }
}
section.price-list .box h5 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
@media only screen and (max-width: 991px) {
  section.price-list .box h5 {
    text-align: center;
  }
}
section.price-list .box ul {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  section.price-list .box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
section.price-list .box ul li {
  font-size: 25px;
  line-height: 40px;
}
section.price-list .box p {
  font-size: 25px;
  padding-bottom: 0;
}
@media only screen and (max-width: 991px) {
  section.price-list .box p {
    text-align: center;
  }
}
section.price-list .box .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 1299px) {
  section.price-list .box .text-wrap {
    gap: 20px;
  }
}
section.price-list .box .text-wrap p {
  margin-bottom: 0;
}
section.price-list .box .text-wrap p:nth-of-type(1) {
  margin-top: 40px;
}
@media only screen and (max-width: 991px) {
  section.price-list .box .text-wrap p:nth-of-type(1) {
    margin-top: 20px;
  }
}

.contact-form {
  padding-right: 400px;
  padding-bottom: 190px;
}
@media only screen and (max-width: 1499px) {
  .contact-form {
    padding-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .contact-form {
    padding-bottom: 40px;
  }
}
.contact-form .input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form .btn {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 440px) {
  .contact-form .btn {
    justify-content: center;
  }
}
.contact-form .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
.contact-form .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  .contact-form .btn a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}
.contact-form .checkbox-wrap {
  display: flex;
  margin-bottom: 65px;
}
@media only screen and (max-width: 991px) {
  .contact-form .checkbox-wrap {
    margin-bottom: 20px;
  }
}
.contact-form .gdpr-container {
  display: flex;
  gap: 10px;
}
.contact-form .gdpr-container label {
  font-size: 20px;
  color: #000;
  cursor: pointer;
  margin-bottom: 0;
}
.contact-form .gdpr-checkbox {
  width: 30px;
  height: 30px;
  flex: 0 0 auto;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #9A9A9A;
  accent-color: #C8652F;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.contact-form .gdpr-checkbox:checked::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #C8652F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 0;
}
.contact-form input:not([type=submit], [type=checkbox]), .contact-form textarea, .contact-form select {
  border: 2px solid #9A9A9A;
  padding: 25px;
  font-size: 20px;
  color: #000;
}
@media only screen and (max-width: 767px) {
  .contact-form input:not([type=submit], [type=checkbox]), .contact-form textarea, .contact-form select {
    padding: 18px;
  }
}
.contact-form input[type=date] {
  color: #9A9A9A;
}
.contact-form input[type=date]:focus,
.contact-form input[type=date]:valid {
  color: #000;
}
.contact-form label {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 140%;
  color: #000;
}
@media only screen and (max-width: 991px) {
  .contact-form label {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .contact-form label {
    font-size: 15px;
  }
}
.contact-form input[type=submit] {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
  width: 232px;
}
.contact-form input[type=submit]:hover {
  transition: 0.2s ease;
  background-color: #664837;
}
@media only screen and (max-width: 991px) {
  .contact-form input[type=submit] {
    font-size: 20px;
    width: 150px;
    padding: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .contact-form input[type=submit] {
    width: 203px;
  }
}
.contact-form textarea {
  resize: none;
  height: 140px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

section.reservation-form h4 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1499px) {
  section.reservation-form h4 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  section.reservation-form h4 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  section.reservation-form h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  section.reservation-form h4 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  section.reservation-form {
    margin-top: 0;
  }
}
section.reservation-form select {
  background: #fff;
  color: #9A9A9A;
}
section.reservation-form select:focus,
section.reservation-form select:valid {
  color: #000;
}
section.reservation-form .top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  section.reservation-form .top {
    grid-template-columns: minmax(1px, 1fr);
  }
}
section.reservation-form .top .item:nth-of-type(1) {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  section.reservation-form .top .item:nth-of-type(1) {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 991px) {
  section.reservation-form {
    flex-wrap: wrap;
  }
}
section.reservation-form .wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
