@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  margin: 0;
}
body.disabled {
  overflow: hidden;
}

a {
  display: inline-block;
  color: inherit;
  font-weight: 400;
}

a, a:hover, a:focus, a:visited, a:focus-within {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin-top: 0;
}

p {
  line-height: 150%;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-top: 85px;
  padding-bottom: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}
header .item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header .item-wrap .menu-wrap {
  display: flex;
  gap: 70px;
}
header .item-wrap .menu-wrap .menu {
  display: flex;
  gap: 20px;
  align-items: end;
}
header .item-wrap .menu-wrap .menu a {
  font-size: 22px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, font-weight 0.2s ease;
}
header .item-wrap .menu-wrap .menu a:hover {
  font-weight: 700;
  transition: 0.2s ease;
  border-bottom-color: #C8652F;
}
header .item-wrap .menu-wrap .language {
  display: flex;
  align-items: center;
}
header .item-wrap .menu-wrap .language a {
  font-size: 20px;
  border: 6px solid #000;
  padding: 2px 1px;
}

section.hero .hero-img {
  position: relative;
  width: 100%;
  height: 100%;
}
section.hero .hero-img .bg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
section.hero .hero-img .bg.left {
  background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 1%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
}
section.hero .hero-img .bg.top {
  background: linear-gradient(180deg, #FFFAF3 0%, rgba(255, 250, 243, 0.8) 20%, rgba(255, 250, 243, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 450px;
}
section.hero .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.hero .hero-content {
  max-width: 630px;
  position: absolute;
  left: 160px;
  top: 300px;
  z-index: 9;
}
section.hero .hero-content h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
}
section.hero .hero-content p {
  font-size: 25px;
  margin-bottom: 55px;
}
section.hero .hero-content .btn {
  display: flex;
  justify-content: start;
}
section.hero .hero-content .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.hero .hero-content .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}

section.menu-boxes .box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px;
  margin-bottom: 100px;
  margin-top: 60px;
}
section.menu-boxes .box .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
section.menu-boxes .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  width: 235px;
  height: 235px;
}
section.menu-boxes .box .icon img {
  display: block;
}
section.menu-boxes .box h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 40px;
}

.line {
  border: 1px solid #9A9A9A;
  width: 100%;
  margin-bottom: 80px;
}

.index-image {
  width: 670px;
  height: 530px;
}
.index-image img {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 365px;
}

section.accommodation .box, section.events .box {
  display: grid;
  grid-template-columns: 67fr 76fr;
  margin-bottom: 80px;
}
section.accommodation .box .item:nth-of-type(2), section.events .box .item:nth-of-type(2) {
  padding-right: 100px;
}
section.accommodation .box p, section.events .box p {
  font-size: 25px;
  margin-bottom: 0;
}
section.accommodation .box .btn, section.events .box .btn {
  display: flex;
  justify-content: start;
}
section.accommodation .box .btn a, section.events .box .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.accommodation .box .btn a:hover, section.events .box .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}

section.kitchen .box, section.alpacas .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 155px;
  margin-bottom: 80px;
}
section.kitchen .box p, section.alpacas .box p {
  font-size: 25px;
  margin-bottom: 0;
}
section.kitchen .box .text-wrap, section.alpacas .box .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.kitchen .box .text-wrap h5, section.alpacas .box .text-wrap h5 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
section.kitchen .box .btn, section.alpacas .box .btn {
  display: flex;
  justify-content: start;
}
section.kitchen .box .btn a, section.alpacas .box .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.kitchen .box .btn a:hover, section.alpacas .box .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}

section.apartments {
  padding-bottom: 205px;
}
section.apartments .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
section.apartments .box .hotel {
  width: 506px;
  height: 506px;
  margin-bottom: 30px;
}
section.apartments .box .hotel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
section.apartments .box h3 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 700;
}
section.apartments .box ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
section.apartments .box ul li {
  font-size: 25px;
  line-height: 40px;
}
section.apartments .box .btn {
  display: flex;
  justify-content: start;
}
section.apartments .box .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
section.apartments .box .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}

section.gallery .container {
  position: relative;
}
section.gallery .image-slider {
  width: 100%;
  overflow: hidden;
}
section.gallery .image-slider .img-wrap {
  width: 506px;
  height: 506px;
}
section.gallery .image-slider .img-wrap img {
  width: 100%;
  height: 100%;
}
section.gallery .slick-track {
  display: flex;
}
section.gallery .slick-list {
  margin: 0 -20px;
}
section.gallery .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 20px;
}
section.gallery .slick-prev, section.gallery .slick-next {
  z-index: 10;
}
section.gallery .slick-dotted.slick-slider {
  margin-bottom: 130px;
}
section.gallery .shadow {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 30%;
}
section.gallery .shadow.left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
  left: 15px;
}
section.gallery .shadow.right {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
  right: 15px;
  left: auto;
}
section.gallery .slider-arrow {
  position: absolute;
  top: 230px;
  z-index: 9;
}
section.gallery .slider-arrow.arrow-left {
  left: 40px;
}
section.gallery .slider-arrow.arrow-right {
  right: 40px;
  left: auto;
}
section.gallery .slider-arrow img {
  display: block;
  cursor: pointer;
}

footer {
  background-color: #3F80A9;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
footer .bg-img {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
  z-index: 9;
}
footer .title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 55px;
}
footer .title h3 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
}
footer .title h3 span {
  font-size: 70px;
  font-weight: 700;
  display: block;
}
footer .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 330px;
}
footer .input-wrap {
  margin-bottom: 35px;
  width: 100%;
}
footer .input-wrap:nth-of-type(3) {
  margin-bottom: 70px;
}
footer label {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
footer input, footer textarea {
  border: none;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
footer input:focus, footer textarea:focus {
  outline: none;
}
footer input:not([type=submit]),
footer textarea {
  background-color: #fff;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  padding: 8px 20px;
  line-height: 150%;
  height: 60px;
}
footer textarea {
  height: 275px;
  resize: none;
}
footer p {
  font-size: 25px;
  margin-bottom: 0;
  text-align: end;
  color: #fff;
}
footer p span {
  font-weight: 700;
}
footer .btn {
  display: flex;
  justify-content: start;
}
footer .btn a {
  pointer-events: all;
  color: #fff;
  background-color: #C8652F;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  transition: 0.2s ease;
  width: 205px;
  display: flex;
  justify-content: center;
}
footer .btn a:hover {
  transition: 0.2s ease;
  background-color: #664837;
}

/*# sourceMappingURL=main.css.map */
