@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import "components/mobile-menu";
@import "util/media-query";

$assetUrl: "../images";

@mixin mainBtn($fontSize: 25px, $pd: 15px 0) {
    pointer-events: all;
    color: #fff;
    background-color: #C8652F;
    padding: $pd;
    font-size: $fontSize;
    font-weight: 400;
    transition: .2s ease;
    width: 205px;
    display: flex;
    justify-content: center;

    &:hover {
        transition: .2s ease;
        background-color: #664837;
    }

    @include rs(lg) {
        font-size: 20px;
        width: 150px;
        padding: 10px;
    }
}

@mixin h2 {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 0;

    @include rs(xl-4) {
        font-size: 80px;
    }

    @include rs(xl-2) {
        font-size: 60px;
    }

    @include rs(lg) {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    @include rs(xsm) {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

@mixin h4 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;

    @include rs(xl-4) {
        font-size: 50px;
    }

    @include rs(lg) {
        font-size: 40px;
        text-align: center;
    }

    @include rs(xsm) {
        font-size: 30px;
    }
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    margin: 0;

    &.disabled {
        overflow: hidden;
    }
}

a {
    display: inline-block;
    color: inherit;
    font-weight: 400;
}

a, a:hover, a:focus, a:visited, a:focus-within {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin-top: 0;
}

p {
    line-height: 150%;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    padding-top: 85px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;

    @include rs(xl-2) {
        padding-top: 40px;
    }

    &.header-secondary {
        background-image: url("../images/header/header-secondary.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 75px;
        position: relative;
        margin-bottom: 90px;

        @include rs(xl-2) {
            padding-bottom: 40px;
            padding-top: 40px;
            margin-bottom: 40px;
        }

        @include rs(sm) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .item-wrap {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .logo-wrap {
            img {
                @include rs(xl-4) {
                    width: 400px;
                }

                @include rs(xl-2) {
                    width: 300px;
                }

                @include rs(xl) {
                    width: 250px;
                }

                @include rs(sm) {
                    width: 150px;
                }
            }
        }

        .menu-wrap {
            display: flex;
            gap: 70px;

            @include rs(xl-4) {
                gap: 40px;
            }

            @include rs(xl) {
                gap: 20px;
            }

            .menu {
                display: flex;
                gap: 20px;
                align-items: end;

                @include rs(xl-4) {
                    gap: 15px;
                }

                @include rs(xl) {
                    gap: 10px;
                }

                @include rs(lg) {
                    display: none;
                }

                a {
                    font-size: 22px;
                    border-bottom: 3px solid transparent;
                    transition: border-color 0.3s ease, font-weight 0.2s ease;

                    @include rs(xl) {
                        font-size: 20px;
                    }

                    &:hover {
                        font-weight: 700;
                        transition: .2s ease;
                        border-bottom-color: #C8652F;
                    }

                    &.active {
                        font-weight: 700;
                        border-bottom-color: #C8652F;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;

                @include rs(lg) {
                    display: none;
                }

                a {
                    font-size: 20px;
                    border: 6px solid #000;
                    padding: 2px 1px;
                }
            }
        }
    }
}

.nav-toggler {
    border-radius: 100%;
    align-items: center;
    display: none;
    justify-content: flex-end;
    margin-left: 50px;

    @include rs(lg) {
        margin-left: 20px;
        padding: 0;
        display: flex;
    }
}

section.hero {
    background-image: url("../images/index/penzion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 1085px;
    width: 100%;
    position: relative;

    @include rs(lg) {
        min-height: 0;
        max-height: 800px;
    }

    &.detail {
        @include rs(lg) {
            min-height: 0;
            max-height: 600px;
        }
    }

    &.alpacas {
        background-image: url("../images/alpacas/alpacas-hero.jpg");
        margin-bottom: 100px;

        @include rs(lg) {
            margin-bottom: 40px;
            min-height: 0;
            max-height: 700px;
        }
    }

    &.events {
        background-image: url("../images/events/events-hero.jpg");

        @include rs(lg) {
            min-height: 0;
            max-height: 750px;
        }
    }

    &.activities {
        background-image: url("../images/activities/activities-hero.jpg");

        @include rs(lg) {
            min-height: 0;
            max-height: 700px;
        }
    }

    .bg {
        position: absolute;
        z-index: 1;
        pointer-events: none;

        &.left {
            background: linear-gradient(
                    to right,
                    #FFFFFF 0%,
                    #FFFFFF 1%,
                    rgba(255, 255, 255, 0.8) 20%,
                    rgba(255, 255, 255, 0.5) 50%,
                    rgba(255, 255, 255, 0.2) 70%,
                    rgba(255, 255, 255, 0) 100%
            );
            top: 0;
            left: 0;
            height: 100%;
            width: 90%;

            @include rs(xl-2) {
                width: 100%;
                background: linear-gradient(
                        to right,
                        #FFFFFF 0%,
                        #FFFFFF 1%,
                        rgba(255, 255, 255, 0.8) 30%,
                        rgba(255, 255, 255, 0.5) 50%,
                        rgba(255, 255, 255, 0.2) 70%,
                        rgba(255, 255, 255, 0) 110%
                );
            }

            @include rs(lg) {
                background: linear-gradient(
                        to right,
                        #FFFFFF 0%,
                        #FFFFFF 1%,
                        rgba(255, 255, 255, 0.8) 30%,
                        rgba(255, 255, 255, 0.5) 70%,
                        rgba(255, 255, 255, 0.2) 90%,
                        rgba(255, 255, 255, 0) 170%
                );
            }
        }

        &.top {
            background: linear-gradient(180deg, #FFFAF3 0%, rgba(255, 250, 243, 0.8) 20%, rgba(255, 250, 243, 0) 100%);
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 450px;
        }
    }

    img {
        width: 100%;
        height: 1085px;
        object-fit: cover;
    }

    .hero-content {
        position: relative;
        z-index: 8;
        pointer-events: none;
        top: 290px;
        max-width: 630px;

        @include rs(xl-2) {
            top: 200px;
        }

        @include rs(lg) {
            top: 170px;
        }

        @include rs(sm) {
            top: 120px;
        }

        h1 {
            font-size: 120px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 40px;

            @include rs(xl-6) {
                font-size: 100px;
            }

            @include rs(xl-2) {
                font-size: 80px;
            }

            @include rs(lg) {
                font-size: 60px;
            }

            @include rs(md) {
                font-size: 45px;
                margin-bottom: 20px;
            }
        }

        p {
            font-size: 25px;
            margin-bottom: 55px;

            @include rs(lg) {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }

        .btn {
            display: flex;
            justify-content: start;

            a {
                @include mainBtn()
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                font-size: 35px;
                line-height: 70px;

                @include rs(lg) {
                    font-size: 20px;
                    line-height: 40px;
                }
            }
        }
    }
}

section.menu-boxes {
    .box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 35px;
        margin-bottom: 100px;
        margin-top: 60px;
        justify-content: center;

        @include rs(xl-4) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include rs(xl) {
            margin-bottom: 50px;
        }

        @include rs(md) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 30px;
        }

        @include rs(xsm) {
            grid-template-columns: minmax(1px, 1fr);
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F0F0F0;
            width: 100%;
            height: 200px;

            img {
                display: block;
                max-height: 100px;
                width: auto;
            }
        }

        h6 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 0;
            text-align: center;

            @include rs(lg) {
                font-size: 18px;
            }
        }
    }
}

.line {
    height: 1px;
    background-color: #9A9A9A;
    width: 100%;
    margin-bottom: 80px;

    @include rs(xl-2) {
        margin-bottom: 50px;
    }

    @include rs(lg) {
        margin-bottom: 30px;
    }
}

.index-image {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.left-section {
    .box {
        display: grid;
        grid-template-columns: 67fr 93fr;
        gap: 55px;
        margin-bottom: 80px;

        @include rs(xl-5) {
            gap: 30px;
        }

        @include rs(xl-2) {
            margin-bottom: 50px;
        }

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
            gap: 30px;
            margin-bottom: 30px;
        }

        .index-image {
            @include rs(lg) {
                order: 2;
                display: flex;
                justify-content: center;
            }
        }

        .heading {
            padding-right: 100px;

            @include rs(xl-5) {
                padding-right: 0;
            }

            @include rs(xl) {
                order: 1;
                padding-right: 0;
            }
        }
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {
        @include h2;
        margin-bottom: 40px;
    }

    h4 {
        @include h4;

        span {
            display: block;

            @include rs(xl-4) {
                display: initial;
            }
        }
    }

    br {
        @include rs(xl-5) {
            display: none;
        }
    }

    p {
        font-size: 25px;
        margin-bottom: 25px;

        @include rs(lg) {
            margin-bottom: 0;
            font-size: 18px;
            text-align: center;
        }

        span {
            font-weight: 700;
        }
    }

    .btn {
        display: flex;
        justify-content: start;

        @include rs(xl-3) {
            margin-top: 30px;
        }

        @include rs(lg) {
            justify-content: center;
            margin-top: 15px;
        }

        a {
            @include mainBtn()
        }
    }
}

.right-section {
    .box {
        display: grid;
        grid-template-columns: 76fr 67fr;
        gap: 155px;
        margin-bottom: 80px;

        @include rs(xl-5) {
            gap: 50px;
        }

        @include rs(xl-2) {
            margin-bottom: 50px;
        }

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
            margin-bottom: 30px;
            gap: 0;
        }

        .heading {
            order: 0;

            @include rs(xl) {
                margin-bottom: 30px;
            }
        }

        .index-image {
            order: 1;
        }

        .text-wrap {
            display: flex;
            flex-direction: column;
            gap: 35px;

            h5 {
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 0;

                @include rs(lg) {
                    text-align: center;
                    font-size: 22px;
                }
            }
        }
    }
}

section.grunik {
    margin-top: 200px;
}

section.apartments {
    padding-bottom: 205px;

    @include rs(xl) {
        padding-bottom: 50px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @include rs(xl-4) {
            gap: 30px;
        }

        @include rs(xl) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 30px;
        }

        @include rs(md) {
            grid-template-columns: minmax(1px, 1fr);
        }

        .item:nth-of-type(3) {
            @include rs(xl) {
                grid-column: 1 / span 2;
                justify-self: center;
                width: fit-content;
            }

            @include rs(md) {
                grid-column: initial;
            }
        }

        .hotel {
            width: auto;
            height: 506px;
            margin-bottom: 30px;

            @include rs(lg) {
                margin-bottom: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        h3 {
            font-size: 70px;
            margin-bottom: 20px;
            font-weight: 700;

            @include rs(xl-4) {
                font-size: 50px;
            }

            @include rs(xl) {
                font-size: 40px;
                text-align: center;
            }

            @include rs(lg) {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 30px;

            @include rs(lg) {
                margin-bottom: 15px;
            }

            li {
                font-size: 25px;
                line-height: 40px;

                @include rs(xl) {
                    text-align: center;
                    font-size: 22px;
                }

                @include rs(lg) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }

        .btn {
            display: flex;
            justify-content: start;

            @include rs(xl) {
                justify-content: center;
            }

            a {
                @include mainBtn()
            }
        }
    }
}

section.gallery {
    .container {
        position: relative;
    }

    .image-slider {
        width: 100%;
        overflow: hidden;

        .img-wrap {
            width: 506px;
            height: 506px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .slick-track {
        display: flex
    }

    .slick-list {
        margin: 0 -20px;
    }

    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 20px;
    }

    .slick-prev, .slick-next {
        z-index: 10;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 130px;

        @include rs(xl-2) {
            margin-bottom: 50px;
        }
    }

    .shadow {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        top: 0;
        height: 100%;
        width: 30%;

        &.left {
            background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0.3) 30%,
                    rgba(0, 0, 0, 0.2) 60%,
                    rgba(0, 0, 0, 0) 100%
            );
            left: 15px;
        }

        &.right {
            background: linear-gradient(
                    to left,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0.3) 30%,
                    rgba(0, 0, 0, 0.2) 60%,
                    rgba(0, 0, 0, 0) 100%
            );
            right: 15px;
            left: auto;
        }
    }

    .slider-arrow {
        position: absolute;
        top: 230px;
        z-index: 9;

        &.arrow-left {
            left: 40px;
        }

        &.arrow-right {
            right: 40px;
            left: auto;
        }

        img {
            display: block;
            cursor: pointer;
        }
    }
}

section.map {
    position: relative;
    height: 520px;

    @include rs(lg) {
        height: 350px;
    }

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

footer {
    background-color: #3F80A9;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    margin-bottom: 150px;

    @include rs(lg) {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    .bg-img {
        position: absolute;
        bottom: 0;
        top: auto;
        right: 0;
        left: auto;
        opacity: .2;
        mix-blend-mode: multiply;

        @include rs(lg) {
            display: none;
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 55px;

        @include rs(lg) {
            padding-bottom: 25px;
            flex-direction: column;
            align-items: center;
        }

        .logo-wrap {
            @include rs(xl-3) {
                margin-bottom: 15px;

                img {
                    @include rs(xl-3) {
                        width: 350px;
                    }

                    @include rs(lg) {
                        width: 250px;
                    }
                }
            }

            @include rs(lg) {
                order: 1;
            }
        }

        h3 {
            font-size: 50px;
            color: #fff;
            margin-bottom: 0;

            @include rs(xl-3) {
                font-size: 35px;
                margin-bottom: 20px;
            }

            @include rs(lg) {
                order: 2;
                font-size: 25px;
                text-align: center;
            }

            span {
                font-size: 70px;
                font-weight: 700;
                display: block;

                @include rs(xl-3) {
                    font-size: 45px;
                }

                @include rs(lg) {
                    font-size: 30px;
                }
            }
        }
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 330px;
        margin-bottom: 70px;

        @include rs(xl-6) {
            gap: 150px;
        }

        @include rs(xl-3) {
            gap: 0;
        }

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
            margin-bottom: 30px;
        }

        .item:nth-of-type(1) {
            z-index: 9;
        }

        .item:nth-of-type(2) {
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: end;

            @include rs(lg) {
                margin-top: 25px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .input-wrap {
        width: 100%;

        @include rs(lg) {
            margin-bottom: 0;
        }
    }

    .input-wrap:nth-of-type(3) {
        margin-bottom: 0;
    }

    label {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        display: block;
    }

    input, textarea {
        border: none;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    input:not([type="submit"]),
    textarea {
        background-color: #fff;
        color: #000;
        font-weight: 300;
        font-size: 20px;
        width: 100%;
        padding: 8px 20px;
        line-height: 150%;
        height: 60px;

        @include rs(lg) {
            height: 40px;
        }
    }

    textarea {
        height: 275px;
        resize: none;

        @include rs(lg) {
            height: 170px;
        }
    }

    p {
        font-size: 25px;
        margin-bottom: 30px;
        text-align: end;
        color: #fff;

        @include rs(lg) {
            text-align: center;
            margin-bottom: 10px;
        }

        &.mail {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 95px;

            @include rs(xl-3) {
                font-size: 30px;
                margin-bottom: 30px;
            }

            @include rs(sm) {
                font-size: 25px;
            }

            @include rs(xsm) {
                font-size: 20px;
            }
        }

        span {
            font-weight: 700;
        }
    }

    .btn {
        display: flex;
        justify-content: start;

        @include rs(lg) {
            justify-content: center;
        }

        a {
            @include mainBtn()
        }
    }

    .socials {
        display: flex;
        justify-content: end;
        gap: 25px;

        @include rs(lg) {
            justify-content: center;
        }
    }
}

section.reservation {
    padding-top: 90px;
    padding-bottom: 130px;

    @include rs(xl-2) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .box {
        display: grid;
        grid-template-columns: 86fr 67fr;
        gap: 60px;

        @include rs(xl-2) {
            gap: 30px;
        }

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
        }

        h5 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 0;
        }

        p {
            font-size: 25px;
            max-width: 760px;
            margin-bottom: 25px;

            @include rs(lg) {
                max-width: 100%;
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            border: 10px solid #C8652F;
            padding: 20px 30px;

            @include rs(lg) {
                padding: 15px;
            }

            span {
                color: #C8652F;
                font-weight: 700;
                font-size: 50px;
            }

            small {
                font-size: 25px;
                color: #000;
                margin-bottom: 25px;
            }

            .btn {
                display: flex;
                justify-content: start;

                a {
                    @include mainBtn()
                }
            }
        }
    }
}

section.hotel-images {
    padding-bottom: 130px;

    @include rs(xl-2) {
        padding-bottom: 60px;
    }

    @include rs(lg) {
        padding-bottom: 30px;
    }

    .images-box {
        display: grid;
        gap: 40px;
        grid-template-areas:
            "a b c"
            "d b e"
            "f f g";

        @include rs(xl-4) {
            gap: 20px;
        }

        @include rs(lg) {
            grid-template-areas:
                "a b"
                "d b"
                "f f"
                "c e"
                "g g";
        }

        @include rs(md) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .img {
            width: 100%;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.img1,
            &.img3,
            &.img4,
            &.img5,
            &.img6,
            &.img7 {
                height: 506px;
            }

            &.img1 {
                grid-area: a;
            }

            &.img2 {
                grid-area: b;
                height: 100%;
            }

            &.img3 {
                grid-area: c;
            }

            &.img4 {
                grid-area: d;
            }

            &.img5 {
                grid-area: e;
            }

            &.img6 {
                grid-area: f;
            }

            &.img7 {
                grid-area: g;
            }
        }

        @include rs(sm) {
            .img.img1,
            .img.img2,
            .img.img3,
            .img.img4,
            .img.img5,
            .img.img6,
            .img.img7 {
                height: 100%;
                width: 100%;
            }
        }
    }
}

section.price-list {
    padding-bottom: 100px;

    @include rs(xl-2) {
        padding-bottom: 40px;
    }


    h4 {
        @include h4;
        margin-bottom: 60px;

        @include rs(lg) {
            margin-bottom: 20px;
        }
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
            gap: 20px;
        }

        .item:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include rs(xl-2) {
                gap: 20px;
            }
        }

        h5 {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 5px;

            @include rs(lg) {
                text-align: center;
            }
        }

        ul {
            margin-bottom: 0;

            @include rs(lg) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {
                font-size: 25px;
                line-height: 40px;
            }
        }

        p {
            font-size: 25px;
            padding-bottom: 0;

            @include rs(lg) {
                text-align: center;
            }
        }

        .text-wrap {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include rs(xl-2) {
                gap: 20px;
            }

            p {
                margin-bottom: 0;
            }

            p:nth-of-type(1) {
                margin-top: 40px;

                @include rs(lg) {
                    margin-top: 20px;
                }
            }
        }
    }
}

.contact-form {
    .input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .btn {
        display: flex;
        justify-content: start;

        @include rs(xsm) {
            justify-content: center;
        }

        a {
            @include mainBtn()
        }
    }

    .checkbox-wrap {
        display: flex;
        margin-bottom: 65px;

        @include rs(lg) {
            margin-bottom: 20px;
        }
    }

    .gdpr-container {
        display: flex;
        gap: 10px;

        label {
            font-size: 20px;
            color: #000;
            cursor: pointer;
            margin-bottom: 0;
        }
    }

    .gdpr-checkbox {
        width: 30px;
        height: 30px;
        flex: 0 0 auto;
        appearance: none;
        -webkit-appearance: none;
        background-color: white;
        border: 1px solid #9A9A9A;
        accent-color: #C8652F;
        cursor: pointer;
        margin: 0;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
    }

    .gdpr-checkbox:checked::before {
        content: '✔';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #C8652F;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        box-sizing: border-box;
        border-radius: 0;
    }

    input:not([type='submit'], [type="checkbox"]), textarea, select {
        border: 2px solid #9A9A9A;
        padding: 25px;
        font-size: 20px;
        color: #000;

        @include rs(md) {
            padding: 18px;
        }
    }

    input[type="date"] {
        color: #9A9A9A;
    }

    input[type="date"]:focus,
    input[type="date"]:valid {
        color: #000;
    }

    label {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 140%;
        color: #000;

        @include rs(lg) {
            font-size: 16px;
        }

        @include rs(sm) {
            font-size: 15px;
        }
    }

    input[type="submit"] {
        @include mainBtn;
        width: 232px;

        @include rs(lg) {
            width: 203px;
        }
    }

    textarea {
        resize: none;
        height: 140px;
    }

    select {
        background: #fff;
        color: #9A9A9A;
    }

    select:focus,
    select:valid {
        color: #000;
    }

    .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include rs(lg) {
            grid-template-columns: minmax(1px, 1fr);
        }

        .item:nth-of-type(1) {
            display: flex;
            gap: 20px;

            @include rs(md) {
                flex-wrap: wrap;
            }
        }
    }

    .wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

section.reservation-form {
    padding-bottom: 190px;

    @include rs(lg) {
        padding-bottom: 40px;
    }

    h4 {
        @include h4;
        margin-bottom: 60px;

        @include rs(lg) {
            margin-bottom: 20px;
        }
    }
}

section.demand-form {
    padding-top: 70px;
    padding-bottom: 100px;

    @include rs(lg) {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    h4 {
        @include h4;
        margin-bottom: 20px;
    }

    .text-wrap {
        @include rs(lg) {
            display: flex;
            justify-content: center;
        }
    }

    p {
        font-size: 25px;
        margin-bottom: 50px;
        max-width: 630px;

        @include rs(lg) {
            text-align: center;
        }
    }
}

section.activity {
    padding-top: 100px;
    padding-bottom: 100px;

    @include rs(xl-4) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px 40px;
        margin-bottom: 100px;

         @include rs(xl-4) {
             gap: 50px 30px;
             margin-bottom: 60px;
         }

        @include rs(lg) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 20px;
        }

        @include rs(md) {
            grid-template-columns: minmax(1px, 1fr);
            gap: 30px;
        }

        .image {
            width: 100%;
            height: 506px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100%;
        }

        h4 {
            @include h4;
            margin-bottom: 20px;
            min-height: 170px;

            @include rs(xl-4) {
                min-height: 120px;
            }

            @include rs(lg) {
                min-height: 100px;
            }

            @include rs(md) {
                min-height: initial;
                margin-bottom: 10px;
            }
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include rs(md) {
                gap: 15px;
            }
        }

        .wrap {
            display: flex;
            flex-direction: column;
        }

        p {
            font-size: 25px;
            margin-bottom: 25px;
            flex: 1;

             @include rs(lg) {
                 text-align: center;
             }
        }

        .btn {
            display: flex;
            justify-content: start;

            @include rs(lg) {
                justify-content: center;
            }

            a {
                @include mainBtn()
            }
        }
    }

    .links {
        p {
            font-size: 25px;
            margin-bottom: 0;

            @include rs(md) {
                text-align: center;
            }
        }
    }
}
